<div id="landing-container">
   <p class="title">Ugly and Delicious</p>

   <div class="image"><%= image_tag '/images/lemon.jpg' %></div>

  <div class='button'><%= button_to 'Find a store near you', markets_path, method: :get, class: 'btn-success' %></div>
</div>